.HeroSection_box {
    display: flex;
    width: 100%;
    background-color: var(--main-bg-color);
}

.HeroSection_text {
    z-index: 1;
    margin-top: -100px;
    cursor: default;
}

.HeroSection_box_title1{
    font-size: 45rem;
    font-weight: bold;
    z-index: 1;
    margin-top: 20px;
}

.HeroSection_box_title2 {
    text-align: right;
    font-weight: bold;
    z-index: 1;
    margin-top: -170px;
    margin-left: 210px;
    font-size: 37rem;
}

.HeroSection_box_img {
    margin-top: -50px;
    width: 0px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.HeroSection_box_img_img {
    z-index: 1;
}
